#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

export PYBUILD_NAME=pysnmp4

%:
	dh $@ --with python2 --buildsystem=pybuild

# There are no unittests, but some documentation string may be
# executed while they are not really unittests.
override_dh_auto_test:
