Source: python-dlnetsnmp
Section: python
Priority: optional
Maintainer: Valentin Vidic <Valentin.Vidic@CARNet.hr>
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 8)
Standards-Version: 3.9.3
Vcs-Browser: https://bitbucket.org/jdugan/dlnetsnmp/src

Package: python-dlnetsnmp
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Small but complete NetSNMP ctypes wrapper.
 DLNetSNMP is a Python ctypes wrapper for the NetSNMP library written. 
 .
 It provides:
  - Synchronous and asynchronous "get", "getbulk", "walk" and "set" operations.
  - MIBs management: set/get MIBs paths, load new MIBs, get OID descriptions
    from MIBs, oid to name (and vice versa) translation tools.
  - Session management, internal asynchronous events management, pluggable 
    logger and meaningful error reporting.
  - Multi-platform: runs under Linux (and I think other Unixes also), Windows
    and OS X.
