Source: djangorestframework
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Brian May <bam@debian.org>
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-all (>= 3.2),
               python3-defusedxml (>= 0.3),
               python3-django (>= 1.4.2),
               python3-django-filters (>= 1.1.0),
               python3-django-guardian (>= 1.1.1),
               python3-pytest,
               python3-pytest-cov,
               python3-pytest-django,
               python3-setuptools,
               python3-yaml
Standards-Version: 3.9.8
Homepage: http://django-rest-framework.org
Vcs-Browser: https://salsa.debian.org/python-team/modules/djangorestframework
Vcs-Git: https://salsa.debian.org/python-team/modules/djangorestframework.git


Package: python3-djangorestframework
Architecture: all
Depends: fonts-glewlwyd,
         libjs-jquery,
         python3-django,
         ${misc:Depends},
         ${python3:Depends}
Recommends: python3-coreapi (>= 2.3.3),
            python3-coreschema (>= 0.0.4),
            python3-django-filters (>= 0.5.4),
            python3-django-guardian (>= 1.1.1),
            python3-markdown (>= 2.1.0),
            python3-psycopg2 (>= 2.7.5),
            python3-yaml
Suggests: python-djangorestframework-doc
Description: Web APIs for Django, made easy for Python3
 For Python3.
 powerful and flexible toolkit that makes it easy to build Web APIs.
 Some reasons you might want to use REST framework:
  * The Web browseable API is a huge useability win for your developers.
  * Authentication policies including OAuth1a and OAuth2 out of the box.
  * Serialization that supports both ORM and non-ORM data sources.
  * Customizable all the way down - just use regular function-based views if you
    don't need the more powerful features.
  * Extensive documentation, and great community support.
