<html>
  <head>
    <title>TL1 Counters - <TMPL_VAR name=hostname></title>
  </head>
  <tmpl_if name=collection_interval>
	  <meta http-equiv="refresh" content="<tmpl_var name=collection_interval>" />
  </tmpl_if>
  <body>
	<center>
		VLANS
	</center>

    <table width="95%" align="center" cellpadding="1" border="2">
      <tmpl_loop name=vlans>
      <tr>
        <th align="center" colspan="5">
			VLAN <tmpl_var name=number>
			<tmpl_if name=ingress>
				(<tmpl_var name=ingress>)
			</tmpl_if>
			<tmpl_if name=egress>
				(<tmpl_var name=egress>)
			</tmpl_if>
		</th>
      </tr>
      <tr>
        <th align="center">Name</th>
        <th align="center">Value</th>
        <th align="center">Change</th>
        <th align="center">Time</th>
        <th align="center">Start of Measurement Period</th>
      </tr>

      <tmpl_loop name=counters>
      <tr>
        <td align="center">
          <tmpl_var name=name>&nbsp;
        </td>
        <td align="center">
          <tmpl_var name=value>&nbsp;
        </td>
		<tmpl_if expr="change != 0">
        <td align="center" bgcolor="green">
          <tmpl_var name=change>&nbsp;
        </td align>
		<tmpl_else>
        <td align="center">
        </td align>
		</tmpl_if>
        <td align="center">
          <tmpl_var name=measured_time>&nbsp;
        </td>
        <td align="center">
          <tmpl_var name=period_start>&nbsp;
        </td>
      </tr>
      </tmpl_loop>
      </tmpl_loop>
    </table>

	<tmpl_if name=ethernet_ports>
	<center>
		Ethernet Ports
	</center>

    <table width="95%" align="center" cellpadding="1" border="2">
      <tmpl_loop name=ethernet_ports>
      <tr>
        <th align="center" colspan="5">
			Port <tmpl_var name=port>
		</th>
      </tr>
      <tr>
        <th align="center">Name</th>
        <th align="center">Value</th>
        <th align="center">Change</th>
        <th align="center">Time</th>
        <th align="center">Start of Measurement Period</th>
      </tr>

      <tmpl_loop name=counters>
      <tr>
        <td align="center">
          <tmpl_var name=name>&nbsp;
        </td>
        <td align="center">
          <tmpl_var name=value>&nbsp;
        </td>
		<tmpl_if expr="change != 0">
        <td align="center" bgcolor="green">
          <tmpl_var name=change>&nbsp;
        </td align>
		<tmpl_else>
        <td align="center">
        </td align>
		</tmpl_if>
        <td align="center">
          <tmpl_var name=measured_time>&nbsp;
        </td>
        <td align="center">
          <tmpl_var name=period_start>&nbsp;
        </td>
      </tr>
      </tmpl_loop>
      </tmpl_loop>
    </table>
	</tmpl_if>

	<tmpl_if name=ethernet_ports>
	<center>
		Optical Ports
	</center>

    <table width="95%" align="center" cellpadding="1" border="2">
      <tmpl_loop name=optical_ports>
      <tr>
        <th align="center" colspan="5">
			Port <tmpl_var name=port>
		</th>
      </tr>
      <tr>
        <th align="center">Name</th>
        <th align="center">Value</th>
        <th align="center">Change</th>
        <th align="center">Time</th>
        <th align="center">Start of Measurement Period</th>
      </tr>

      <tmpl_loop name=counters>
      <tr>
        <td align="center">
          <tmpl_var name=name>&nbsp;
        </td>
        <td align="center">
          <tmpl_var name=value>&nbsp;
        </td>
		<tmpl_if expr="change != 0">
        <td align="center" bgcolor="green">
          <tmpl_var name=change>&nbsp;
        </td align>
		<tmpl_else>
        <td align="center">
        </td align>
		</tmpl_if>
        <td align="center">
          <tmpl_var name=measured_time>&nbsp;
        </td>
        <td align="center">
          <tmpl_var name=period_start>&nbsp;
        </td>
      </tr>
      </tmpl_loop>
      </tmpl_loop>
    </table>
	</tmpl_if>
  </body>
</html>
