<html>
  <head>
    <style type="text/css">@import "http://scinet.supercomputing.org/scinet_media/style/style.css";</style>
    <title>Bandwidth Tests</title>
  </head>
  <body>
  <div id="header">
  	<img src="https://scinet.supercomputing.org/logo/scinet-logo.png" align="right">
	<h1>Bandwidth Tests</h1>
  </div>
   <div id="page-content">
    <table align=center width=85% border=1 cellpadding=1>
	<tr>
	<th align=center valign=center colspan='4'> [% primary_node_desc %] </th>
	</tr>
	<tr>
	<td></td>
	        <th align=center valign=center>Address</th>
	        <th align=center valign=center>Sender</th>
	        <th align=center valign=center>Receiver</th>
	</tr>

	[% FOREACH node IN results %]
		[% IF primary_node == node.name; NEXT; END %]
		[% UNLESS node.measurement_results.size > 0 %]
			<tr>
				<td align=center valign=center>[% node.description %]</td>
				<td align=center valign=center bgcolor=gray>&nbsp;</td>
				<td align=center valign=center bgcolor=gray>&nbsp;</td>
				<td align=center valign=center bgcolor=gray>&nbsp;</td>
			</tr>
		[% ELSE %]
			<tr>
			<td align=center valign=center [% IF node.measurement_results.size > 1 %] rowspan="[% node.measurement_results.size %]" [% END %]>[% node.description %]</td>
			[% FOREACH result IN node.measurement_results %]
				[% UNLESS loop.first OR node.measurement_results.size <= 1 %]
					<tr>
				[% END %]

				<td align=center valign=center >[% result.address %]</td>
				[% IF result.send.max_throughput %]
					[% SET src_node = result.send.source %]
					[% SET src_addr = result.send.source_address %]
					[% SET dst_node = result.send.destination %]
					[% SET dst_addr = result.send.destination_address %]

				<td align=center valign=center style="cursor:pointer" onClick="javascript:window.open('bwctlplot.cgi?sender=[% src_node %]&sender_address=[% src_addr %]&receiver=[% dst_node %]&receiver_address=[% dst_addr %]')">
					[% result.send.min_throughput %] [% result.send.min_throughput_units %] / [% result.send.max_throughput %] [% result.send.max_throughput_units %] 
				</td>
				[% ELSE %]
				<td align=center valign=center bgcolor=gray>&nbsp;</td>
				[% END %]

				[% IF result.receive.max_throughput %]
					[% SET src_node = result.receive.source %]
					[% SET src_addr = result.receive.source_address %]
					[% SET dst_node = result.receive.destination %]
					[% SET dst_addr = result.receive.destination_address %]

				<td align=center valign=center style="cursor:pointer" onClick="javascript:window.open('bwctlplot.cgi?sender=[% src_node %]&sender_address=[% src_addr %]&receiver=[% dst_node %]&receiver_address=[% dst_addr %]')">
					[% result.receive.min_throughput %] [% result.receive.min_throughput_units %] / [% result.receive.max_throughput %] [% result.receive.max_throughput_units %] 
				</td>
				[% ELSE %]
				<td align=center valign=center bgcolor=gray>&nbsp;</td>
				[% END %]
				</tr>
			[% END %]
		[% END %]
		</tr>
	[% END %]
      </tr>
    </table>
  </div>
  </body>
</html>
