#set terminal png size 1200,600
set terminal png size [% width %],[% height %]

#unset border
#unset border
#unset xtics
#unset ytics
#unset ztics

set pointsize 0.5

set mxtics 4
set grid xtics ytics mxtics

[% IF show_legend == "yes" %]
set label "Total: [% total_packets %]" at graph 1.01, graph 0.01
set label "Flagged: [% total_flagged %]" at graph 1.01, graph 0.05
set label "Lost: [% total_lost %]" at graph 1.01, graph 0.09

set key box
#set key out vert
set key right
set key outside
[% ELSE %]
set nokey
[% END %]

set xdata time
#set timefmt "%m/%d/%y"
set timefmt "%Y-%m-%dT%H:%M:%S"
#set timefmt "%s"

set yrange [[% ymin %]:[% ymax %]]
set xrange ["[% xmin %]":"[% xmax %]"]

set format x "%H:%M"
