#! /usr/bin/make -f

export PYBUILD_NAME=attr
export PYBUILD_DISABLE=test/pypy
export PYBUILD_BEFORE_TEST=cp conftest.py {build_dir}
export PYBUILD_AFTER_TEST=rm -rf {build_dir}/.hypothesis {build_dir}/conftest.py

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_compress:
	dh_compress -Xchangelog.html
