Source: libmojolicious-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: gregor herrmann <gregoa@debian.org>,
           Angel Abad <angel@debian.org>,
           Dominique Dumont <dod@debian.org>,
           CSILLAG Tamas <cstamas@cstamas.hu>,
           Nick Morrott <knowledgejunkie@gmail.com>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: perl,
                     libjs-jquery,
                     libjs-prettify
Standards-Version: 4.1.3
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-perl/packages/libmojolicious-perl.git
Vcs-Git: https://anonscm.debian.org/git/pkg-perl/packages/libmojolicious-perl.git
Homepage: https://metacpan.org/release/Mojolicious

Package: libmojolicious-perl
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends},
         libjs-jquery,
         libjs-prettify
Recommends: libev-perl,
            libio-socket-socks-perl (>= 0.65),
            libio-socket-ssl-perl (>= 1.94),
            libmojo-server-fastcgi-perl,
            librole-tiny-perl (>= 2.000001),
            perl (>= 5.19.8) | libio-socket-ip-perl (>= 0.26)
Description: simple, yet powerful, Web Application Framework
 Mojolicious is a Perl Web Application Framework built around the familiar
 Model-View-Controller philosophy. It supports a simple single file mode via
 Mojolicious::Lite, RESTful routes, plugins, Perl-ish templates, session
 management, signed cookies, a testing framework, internationalization, first
 class Unicode support, and more.
 .
 The package also provides the morbo and hypnotoad (development) web servers
 and the mojo command line script.
