Source: djangorestframework-filters
Maintainer: Antoine Delvaux <antoine.delvaux@man.poznan.pl>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools
Standards-Version: 3.9.8
Homepage: https://github.com/philipn/django-rest-framework-filters
X-Python3-Version: >= 3.3

Package: python3-djangorestframework-filters
Architecture: all
Depends: python3-django,
         python3-django-filters,
         python3-djangorestframework,
         ${misc:Depends},
         ${python3:Depends}
Description: Filters for Django REST Framework (Python3 version)
 An extension to Django REST framework and Django filter that makes it easy
 to filter across relationships. Historically, this extension also provided
 a number of additional features and fixes, however some have now been merged
 back into django-filter
 .
 This package contains the Python 3 version of the library.
